body {
  place-items: center;
  background-image: radial-gradient(#D14D72, #cc6381, #d17b93);
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh; 
}

body, .App {
  width: 100%;
  height: 100vh; 
}

.heart {
  position: absolute;
  top: -20px;  
  font-size: 14px;  
  color: red;  
  opacity: 0;  
  animation: fall 7s infinite ease-in;
}

@keyframes fall {
  0% {
    transform: translateX(var(--x)) translateY(-50px);
    opacity: 0.8;
  }
  100% {
    transform: translateX(var(--x)) translateY(calc(100vh + 50px)); 
    opacity: 0;
  }
}

.main-container {
  padding-top: 0.2rem;
  padding-left: 11rem;
}